<html xmlns:th="http://thymeleaf.com">
    <head>
        <link rel="stylesheet" href="../../static/css/bootstrap.css">
    </head>

    <body style="background-color:#f0f0f0">
        <div class="container" style="background-color:#ffffff">
        <!-- Add Title -->
            <section class="heading">
                <div class="row" style="background-color:#314159">
                    <div class="title col-xs-8">
                        <h2>Title</h2>
                    </div>
                    <div class="create col-xs-4">
                        <a href="@{create}">
                            <h3 class="daButton">Create</h3>
                        </a>
                    </div>
                </div>
            </section>

            <section class="body">
                <div class="blog-entry">
                    <div class="row">

                    <div class="col-xs-12">
                            <h3>Title</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris posuere vehicula fermentum. Aliquam tristique tellus quis scelerisque rutrum. Pellentesque in enim orci. Vestibulum vel sapien eget urna rutrum maximus. Etiam erat metus, luctus malesuada elit in, feugiat blandit augue. Duis pretium fermentum dolor eu suscipit. Praesent ac mauris condimentum ligula posuere sodales non nec dolor.

                                Nulla consequat scelerisque arcu, id condimentum diam ullamcorper et. Quisque ullamcorper mauris tellus, id varius elit suscipit vitae. Morbi vel elit in lacus blandit lacinia. Suspendisse potenti. Nulla facilisi. Praesent sollicitudin euismod facilisis. Morbi molestie vitae eros non pharetra. Nam tempus luctus massa sit amet hendrerit. Nunc mattis urna a dolor condimentum volutpat.</p>
                        </div>
                    </div>
                    <div class="row right-justified">
                        <div class="col-xs-12">
                            <p class="text-right">HH:MM:SS  MM/DD/YY</p>
                        </div>
                    </div>
                </div>
            </section>


        </div>
    </body>



</html>