<html>
    <head>
        <head>
            <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}">
            </link>
        </head>
    </head>

    <body style="background-color:#f0f0f0">
        <div class="container" style="background-color:#ffffff">
            <section id="header">
                <div class="row" style="background-color:#314159">
                    <div class="col-xs-12">
                        <h2 class="text-center">Title</h2>
                    </div>
                </div>
            </section>
            <section class="body">
                <form th:object="${blog}" th:action="@{/blog/add}" method="POST">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-4">
                                <label for="blogTitle">Title</label>
                                <input th:field = "*{title}" id = "blogTitle" class="form-control" type="text" placeholder="Blog Title">
                                </input>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-12">
                                <label for="blogContent">Content</label>
                                <textarea id="blogContent" th:field = "*{entry}" class="form-control" placeholder="Enter your blah blah here"></textarea>
                            </div>
                        </div>
                    </div>

                    <a href="blogpost.html" th:href="@{/blog}" class="btn btn-default">Back</a>
                    <input type="submit" value="Submit" class="btn btn-default">
                    </input>
                </form>
            </section>
        </div>
    </body>
</html>